{% extends "base.html" %}

{% block title %}👨‍🍳 Pastelaria do Zé{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center" style="margin-top: -30px;">
        <h1 class="mb-4" style="font-size: 3.5rem;">Bem-vindo à Pastelaria do Zé!</h1>
        <p class="lead" style="font-size: 2.2rem;">Aqui você encontra as melhores pizzas feitas com<br>ingredientes frescos e de alta qualidade.</p>
        <p style="font-size: 1.3rem;">Pra encher o bucho</p>
    </div>
</div>
{% endblock %}
